/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */
address {
  font-style: normal;
}

.main_content {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}


/* header */
.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.svg {
  fill: none;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width:1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

}


.logo {
  display: flex;
  align-items: center;
}

.items {
  display: none;
}

.header_navigation_link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.studio_first {
  color: #2e2f42;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.open-menu-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
}

@media screen and (min-width:768px) {
  .open-menu-btn {
    display: none;
  }

  .header_navigation_link {
    margin-right: 120px;
  }

  .items {
    display: flex;
    gap: 40px;
  }

  .header_navigation_item.header_navigation_item-first {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header_navigation_item-first::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header_navigation_item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
  }

  .header_navigation_item:hover,
  .header_navigation_item:focus {
    color: #404bbf;
  }

  .address {
    display: block;
  }

  .address_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address_item:hover,
  .address_item:focus {
    color: #404bbf;
  }
}

@media screen and (min-width:1158px) {
  .header_navigation_link {
    margin-right: 76px;
  }

  .address_item {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}


/* menu */

.nav-items-menu{
  margin-bottom: auto;
}

.list_menu {
  display: block;
}

.link-menu {
  font-size: 36px;
  color: #2E2F42;
  font-weight: 700;
}

.items-menu:not(:last-child) {
  margin-bottom: 40px;
}

.link-menu-first {
  color: #404BBF;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-window {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  padding: 72px 24px 24px 24px;
}



.address_list-menu {
  margin-bottom: 48px;
}

.address-link-menu-first {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #4D5AE5;
}

.address-link-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.address_items-menu:not(:last-child) {
  margin-bottom: 24px;
}



.social-network-items-footer-menu {
display: flex;
gap: 40px;
}

@media screen and (min-width:768px) {
  .menu{
    display: none;
  }
}


/* section 1 */
.section-first {
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Dark-bg\ 1.jpg");
  max-width: 320px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}


.main_title {
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

@media screen and (min-width:768px) {
  .section-first {
    max-width: 768px;
    padding: 112px 0;
    height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Dark-bg\ 2.jpg");
  }

  .main_title {
    font-size: 56px;
    max-width: 496px;
  }
}

@media screen and (min-width:1158px) {
  .section-first {
    max-width: 1440px;
    padding: 188px 0;
    height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office\ 3.jpg");
  }
}

h1 {
  text-align: center;
}


.first_button {
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first_button:hover,
.first_button:focus {
  background-color: #404BBF;
}


/* section 2 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.plan-list {
  display: block;
  gap: 72px;

}

.plan-items {
  display: block;
}



.icons {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.section-second {
  padding-top: 96px;
  padding-bottom: 96px;
}

.third_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.text_for_third_title_section_two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

@media screen and (max-width:767px) {
  .plan-items:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width:768px) {
  .plan-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;

  }

  .third_title {
    text-align: left;
  }

  .plan-items {
    max-width: 356px;
  }

  .third_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (min-width:1158px) {
  .section-second {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .plan-list {
    display: flex;
    gap: 24px;

  }

  .plan-items {
    width: calc((100% - 72px) / 4);
  }

  .third_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .icons {
    display: flex;
  }

  .text_for_third_title_section_two {
    font-weight: 400;
  }
}

/* section 3 */
.section-third {
  background-color: #F4F4FD;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our_team-list {
  display: block;
}

.our_team_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list_section_three {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
}

.person-team {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-network-items {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-network {
  width: 40px;
  height: 40px;
}

.social-network-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: #404bbf;
}

.icons_social-network {
  fill: #f4f4fd;
}

.our_team_person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our_team_profesion {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

@media screen and (max-width:767px) {
  .list_section_three:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width:768px) {
  .list_section_three {
    max-width: 768px;
  }

  .our_team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}

@media screen and (min-width:1158px) {
  .section-third {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our_team-list {
    display: flex;
    gap: 24px;

  }

  .list_section_three {
    width: calc((100% - 72px) / 4);
  }
}


/* section 4 */
.section-fourth {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our_portfolio_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;

}

.portfolio_items {
  width: 288px;
  height: 400px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio_items {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_items:hover .hover_img {
  transform: translateY(0);
}

.imeges-portfolio {
  position: relative;
  overflow: hidden;
}

.hover_img {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.our_portfolio_names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.names_section_four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width:768px) {
  .portfolio-list {
    justify-content: center;
  }

  .portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .portfolio_items {
    width: calc((100% - 24px) / 2);
    height: 420px;
  }
}

@media screen and (min-width:1158px) {
  .section-fourth {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio_items {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }



  .portfolio_items:hover,
  .portfolio_items:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* footer */

.container_footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 72px 24px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.social-network-items-footer {
  display: flex;
  gap: 16px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer_logo_parag,
.social-network_footer {
  text-align: center;
}

.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.social-network-link_footer:hover,
.social-network-link_footer:focus {
  background-color: #31d0aa;
}

.social-network-link_footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_names {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.studio {
  color: #f4f4fd;
}

.text_footer {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer_subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer_e-mail {
  width: 320px;
}

.footer_e-mail_input {
  width: 288px;
  margin: 0 16px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.placeholder {
  color: #ffffff;
}

.button_subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}

.icon_soc-net_footer {
  margin-left: 16px;
  fill: #ffffff;
}

.subscribe_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media screen and (min-width:768px) {

  .footer_logo_parag,
  .social-network_footer {
    text-align: left;
  }

  .footer-container {
    align-items: baseline;
    justify-content: flex-start;
  }

  .container_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .footer_form {
    flex-direction: row;
  }

  .footer_e-mail {
    width: 264px;
  }

  .footer_subscribe {
    text-align: left;
  }

  .subscribe_footer {
    display: block;
  }

  .footer_e-mail_input {
    margin: 0;
    width: 264px;
  }
}

@media screen and (max-width:767px) {
  .container_footer {
    width: 584px;
  }
}

@media screen and (min-width:1158px) {
  .container_footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: unset;
    max-width: 1158pxpx;
    justify-content: center;
    padding-left: 15px;
  }

  .footer_form {
    display: flex;
    gap: 24px;
  }

  .subscribe_footer {
    margin-left: auto;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer_logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer_logo_parag {
    margin-right: 120px;
  }
}


/* modal window */

.container_modal-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container_modal-window.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.button_modal-window {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_modal-window:hover,
.button_modal-window:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icon_soc-net_mw {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mw_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.container_mw_item-name {
  margin-bottom: 8px;
}

.content_name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container_mw_link-name {
  position: relative;
}

.mw_link-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mw_link-name:focus,
.mw_link-name:hover {
  border-color: #4D5AE5;
}

.icon_soc-net_mw_second {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.mw_link-name:focus+.icon_soc-net_mw_second {
  fill: #4D5AE5;
}

.container_mw_item-comment {
  margin-bottom: 16px;
}

.container_comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container_comment:focus {
  border-color: #4D5AE5;
}

.chack-box {
  margin-bottom: 24px;
}

.chack-box_label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-chack-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.visually-hidden:checked+.chack-box_label>.span-chack-box {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
  border-color: #404BBF;
}

.privacy-policy_label {
  color: #4d5ae5;
}

.container_save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

@media screen and (min-width:768px) {
  .modal-window {
    width: 408px;
  }

  .container_modal-window {
    max-width: 768px;
  }

  .container_mw_link-name {
    width: 360px;
  }

  .container_mw_item-comment {
    width: 368px;
  }
}

@media screen and (min-width:1158px) {
  .container_modal-window {
    min-width: 1440px;
  }
}